<div class="container" style="margin: 20px;">
    <h2>Listado de Empleados</h2>

    @if(listaEmpleados.lenght <= 0){
        <p class="text-center">
            No hay empleados registrados
        </p>
    } @else {
        <table class="table table-bordered">
            <thead class="table-success">
                <tr>
                    <th>ID Empleado</th>
                    <th>Nombre</th>
                    <th>Departamento</th>
                    <th>E-mail</th>
                    <th>Teléfono</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @for(empleado of listaEmpleados; track empleado._id; let i = $index){
                    <tr>
                        <td>{{empleado._id}}</td>
                        <td>{{empleado.nombre}}</td>
                        <td>{{empleado.departamento}}</td>
                        <td>{{empleado.email}}</td>
                        <td>{{empleado.telefono}}</td>
                        <td>
                            <a [routerLink]="['/editar-empleado', empleado._id]" class="btn btn-warning btn-sm">
                                Editar
                            </a>
                        </td>
                        <td>
                            <a (click)="eliminarEmpleado(empleado, i)" class="btn btn-danger btn-sm">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table> 
    }
</div>