<nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bd-theme="dark">


  <a class="navbar-brand">Empleados DS02</a>

  <div id="navbarNav" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/listar-empleados">
          Lista de Empleados
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/agregar-empleado">
          Agregar Empleado
        </a>
      </li>
    </ul>
  </div>

</nav>

<router-outlet></router-outlet>